.list-div
  #welcom_pan   
    %h2 
      = t("Service")
      %span
        = t("IDM_Service") 
    .show-list
      = render 'form'
    #quotPan
      .footer_Link
        = link_to 'بازگشت', services_path

