.list-div
  #welcom_pan
    %h2.heading2       
      %span 
        ="خدمات"
         
    .show-list
      .table
        - @services.each do |service|
          .tr
            .td= link_to content_tag(:div, service.title, :class => "pro-title"), service
            .td= link_to (image_tag service.pictures.first.image(:medium)), service
    -if is_admin?                          
      #quotPan        
        = link_to content_tag("span", "خدمات جدید"), new_service_path, :class => "btn"
