.list-div
  #welcom_pan   
    %h2 
      %span
        IDM Co
      Services List
    .show-list
      .table
        - @services.each do |service|
          .tr
            .td= link_to content_tag(:div, service.title, :class => "pro-title"), service
            .td= link_to (image_tag service.pictures.first.image(:medium)), service
    -if is_admin?                          
      #quotPan        
        = link_to content_tag("span", "New Service"), new_service_path, :class => "brochure"
