.list-div
  #welcom_pan   
    %h2.heading2       
      %span 
        ="خدمات"
        #{GlobalConstant::COMANYـNAME}
      = "راشا"           .show-list
      = render 'form'
    #quotPan
      .footer_Link
        = link_to 'بازگشت', services_path
