.list-div
  #welcom_pan   
    %h2.heading2       
      %span 
        ="اسلایدر"
        #{GlobalConstant::COMANYـNAME}
      = "راشا"        
    .index_slider  
      = render 'home/slider'            
    #quotPan
      = link_to content_tag("span", "عکس جدید"), new_slide_path, :class => "btn"
      
:javascript
  $(".item").first().addClass("active");
  $('.carousel').carousel();
