.list-div
  #welcom_pan   
    %h2 
      = t("Slider")
      %span
        = t("IDM_Slider")
    .index_slider  
      = render 'home/slider'            
    #quotPan
      = link_to content_tag("span", "عکس جدید"), new_slide_path, :class => "brochure"
      
:javascript
  $(".item").first().addClass("active");
  $('.carousel').carousel();
