.list-div
  #welcom_pan   
    %h2 
      %span
        IDM Co
      Slider
    .index_slider  
      = render 'home/slider'            
    #quotPan
      = link_to content_tag("span", "Add new image"), new_slide_path, :class => "brochure"
      
:javascript
  $(".item").first().addClass("active");
  $('.carousel').carousel();
