.list-div
  #welcom_pan   
    %%h2 
      = t("Slider")
      %span
        = t("IDM_Slider")
    .show-list
      = render 'form'
      
    #quotPan
      .footer_Link
        = link_to 'بازگشت', slides_path

