.list-div
  #welcom_pan   
    %h2.heading2       
      %span 
        ="اسلایدر"
        #{GlobalConstant::COMANYـNAME}
      = "راشا"       
    .show-list
      = render 'form'
      
    #quotPan
      .footer_Link
        = link_to 'بازگشت', slides_path

