.list-div
  #welcom_pan   
    %h2 
      %span
        Demo
      Company
    %p#notice= notice
    = image_tag @slide.image(:gallery_size)
    .show-des-fa
      =raw @slide.description   
    
      
  #quotPan     
    = link_to 'Edit', edit_slide_path(@slide), :class => "btn", :name => "btn"
    \|
    = link_to 'back', homedesign_path, :class => "btn", :name => "btn"
