.list-div
  #welcom_pan   
    %h2.heading2
      %span 
        ="اخبار راشا"
         
    .show-list
      = render 'form'
    #quotPan
      .footer_Link
        = link_to 'بازگشت', information_index_path
