.list-div
  #welcom_pan   
    %h2 
      %span
        IDM Co
      Edit Profile
    .show-list
      = render 'form' 
      
    #quotPan
      .footer_Link
        = link_to 'بازگشت',  users_path


