.list-div
  #welcom_pan{:class => I18n.locale}   
    %h2.heading2 
      %span
        IDM Co
      Edit Profile
    .show-list
      = render 'form' 
      
    #quotPan
      .footer_Link
        = link_to 'بازگشت',  home_path


