.list-div
  #welcom_pan
    %h2.heading2 
      %span
        Admin
      Profile
    %p#notice= notice
    %p
      %b Name:
      = @user.name

    #quotPan
      .footer_Link
        = link_to 'اعمال تغییرات', edit_user_path(@user)
        \|
        = link_to 'بازگشت', users_path
    
