#foot
  #foot_cen
    .foot-logo
      %h6      
    .foot-link         
      %p
        © Your Copyright Info Here. Designed by:
        %a{href: "http://www.Raush.net", target: "_blank"} Raush.net
