#foot
  #foot_cen
    %h6
      %a{href: "index.html"} mcube
    %ul      
      %li
        = link_to "HOME", home_path
      %li.space -      
      %li
        = link_to "SERVICES", Service
      %li.space -
      %li
        = link_to "PRODUCTS", Product
      %li.space -
      -Page.all.each do |page|  
        %li
          = link_to page.title.upcase, page_path(page), :class => ('active' if current_page?(page_path(page)))    
        %li.space -
      
    %p
      © Your Copyright Info Here. Designed by:
      %a{href: "http://www.Raush.net", target: "_blank"} Raush.net
