#head
  #head_cen
    .head_height
      .head-serach
        -if is_admin?         
          
          =link_to "اسلایدر", slides_path, :id => "admin-link", :class => ('active' if current_page?(slides_path))
          =link_to "مشتری جدید", customers_path, :id => "admin-link", :class => ('active' if current_page?(customers_path))
          =link_to "خروج", delete_session_path, :id => "admin-link", :class => ('active' if current_page?(home_path)) 
          =link_to current_user.name, edit_user_path(current_user), :id => "admin-link", :class => ('active' if current_page?(edit_user_path(current_user)) )          
          
        .pull-left
          
        .clrear-float
      #head-menu
        %h1.logo                    
        %ul
          %li
            = link_to "صفحه اصلی", home_path, :class => ('active' if current_page?( home_path))          
          
          -Page.all.each do |page|  
            %li
              = link_to page.title, page_path(page), :class => ('active' if current_page?(page_path(page)))    
          %li
            = link_to "خدمات", Service, :class => ('active' if current_page?(Service))    
          %li
            = link_to "محصولات", Product,  :class => ('active' if current_page?(Product))

