#head
  #head_cen
    .head_height
      .head-serach
        -if is_admin?
          =link_to current_user.name, current_user
          =link_to "sign out", delete_session_path
        .pull-left
          =link_to (image_tag "en.png", :class => "language-icon"), locale: :en
          =link_to (image_tag "fa.png", :class => "language-icon"), locale: :fa
        .clrear-float
      #head-menu
        %h1.logo
          %a{href: "index.html"} M CUBE
        %ul
          -Page.all.each do |page|  
            %li
              = link_to page.title, page_path(page), :class => ('active' if current_page?(page_path(page)))    
          %li
            = link_to "SERVICES", Service, :class => ('active' if current_page?(Service))    
          %li
            = link_to "PRODUCTS", Product,  :class => ('active' if current_page?(Product))                               
          %li
            = link_to "Home", homedesign_path, :class => ('active' if current_page?( homedesign_path))          
          
          

