.container
  #head
    #head_cen
      #head_sup.head_height
        .head-serach
          %p.search
            %label SEARCH
            %input.txt{name: "search", type: "text"}/
            %input.btn{name: "search-btn", type: "submit", value: "SEARCH"}/
          .pull-left
            =link_to (image_tag "en.png", :class => "language-icon"), change_language_path(:language => "en")
            =link_to (image_tag "fa.png", :class => "language-icon"), change_language_path(:language => "fa")
          .clrear-float
        %h1.logo
          %a{href: "index.html"} M CUBE
        %ul
          %li
            %a.active{href: "index.html"} Home
          %li
            %a{href: "about.html"} ABOUT
          %li
            %a{href: "services.html"} SERVICES
          %li
            %a{href: "services.html"} PRODUTS
          %li
            %a{href: "contact.html"} CONTACT
