.fields_for :pictures do |picture|  
  .field        
    =picture.file_field :image, :class => "hide"
    =image_tag (picture.object.image.present? ? picture.object.image(:medium) : "missing.png"), :class => "enable_file_select" 
    =picture.text_area :description, :rows => 3
    =picture.text_area :description_fa, :rows => 3        
    =picture.link_to_remove "Remove this task"
