#slider-holder.hero-unit
  #myCarousel.carousel.slide
    .carousel-inner
      - @slides.each do |slide|
        .item
          =image_tag slide.image(:gallery_size)
          .image-des-holder
            %p
              = slide.description
    .carousel-controls
      .center
        %ol.carousel-indicator-list.carousel-indicators
          - if  @slides.count != 1
            -  @slides.each_with_index do |slide, index|
              %li{"data-slide-to" => "#{index}", "data-target" => "#homeCarousel", :class => "slide-indicator"}      
    %a.carousel-control.left{"data-slide" => "prev", href: ".carousel"} ›
    %a.carousel-control.right{"data-slide" => "next", href: ".carousel"}‹             
