%div.main{:align => "center"}
  %div.header
    %div.logo
      LoGo 
    %div.menu 
      search...
      %div.item 
        Contact us
      %div.item
        About us
      %div.item
        other-item
    %div.clear_float
    %div.slider
      %img{:src => "assets/rails.png"}/
    %div.footer{:align => "center"}
      %div.product_ser
        Product
      %div.product_ser
        Services
      %div.product_ser
        Other-details
  
