.text-div
  #welcom_pan
    %h2.heading2
      %span 
        #{GlobalConstant::COMANYـNAME}
      ="راشا"
    %p.homepage 
       
  
    .clrear-float
        
    .box
      .title-box="مشتریان راشا "
      .customers
        -Customer.all.each do |customer|
          .logo-img
            =image_tag customer.image(:small)
        .clrear-float
      
    .box-new
      .title-box="اخبار راشا"
      .news
    .box
      .title-box="همکاران راشا"
      .Associates
    .clrear-float
   
:javascript 
  $(".item").first().addClass("active");
  $(".slide-indicator").first().addClass("active");
  $('.carousel').carousel();
    
  
  
