.hero-unit
  =image_tag Slide.last.image
.row
  .span4
    %h2 products
    %p products will be here
    %p
      %a.btn{href: "#"} جزئیات بیشتر »
  .span4
    %h2 services
    %p services will be here
    %p
      %a.btn{href: "#"} جزئیات بیشتر »
  .span4
    %h2 news
    %p will find something for here
    %p
      %a.btn{href: "#"} جزئیات بیشتر »