#slider-holder.hero-unit
  #myCarousel.carousel.slide
    .carousel-inner
      - @slides.each do |slide|
        .item
          =image_tag slide.image(:gallery_size)
          .image-des-holder
            %p
              = slide.description

    .carousel-controls
      .center
        %ol.carousel-indicator-list.carousel-indicators
          - if  @slides.count != 1
            -  @slides.each_with_index do |slide, index|
              %li{"data-slide-to" => "#{index}", "data-target" => "#homeCarousel", :class => "slide-indicator"}      

    %a.carousel-control.left{"data-slide" => "prev", href: ".carousel"} ›
    %a.carousel-control.right{"data-slide" => "next", href: ".carousel"}‹             
        
.row
  .span4
    %h2 products
    -Product.all.each do |product|
      %p
        =link_to product.title, product
  .span4
    %h2 services
    -Service.all.each do |service|
      %p
        =link_to service.title, service 
  .span4
    %h2 news
    %p 
      will find something for here
      we should ask the client for somthing to put here
      I'm putting this here to check the long texts here
      we should ask the client for somthing to put here
      I'm putting this here to check the long texts here
      we should ask the client for somthing to put here
      I'm putting this here to check the long texts here
:javascript
  $(".item").first().addClass("active");
  $(".slide-indicator").first().addClass("active");
  $('.carousel').carousel();
