.hero-unit
  .carousel.slide
    .carousel-inner
      -Slide.all.each do |slide|
        .item
          =image_tag slide.image
    %a.carousel-control.left{"data-slide" => "prev", href: "#myCarousel"} ›
    %a.carousel-control.right{"data-slide" => "next", href: "#myCarousel"}‹     
.row
  .span4
    %h2 products
    %p products will be here
    %p
      %a.btn{href: "#"} جزئیات بیشتر »
  .span4
    %h2 services
    %p services will be here
    %p
      %a.btn{href: "#"} جزئیات بیشتر »
  .span4
    %h2 news
    %p will find something for here
    %p
      %a.btn{href: "#"} جزئیات بیشتر »
:javascript
  $(".item").first().addClass("active");
  $('.carousel').carousel();