oooooooooooooooooooooo
= I18n.locale
oooooooooooooooooooooo
%br
=t "products_section.title"
%br
=t "products_section.edit_product"
%br
=t "products_section.new_product"
%br
=t "products_section.product_title"
%br
=t "products_section.product_description"
%br
=t "back"
