.list-div
  #welcom_pan  
    %h2.heading2 
      %span 
           ="مشتریان"
         
    .show-list
      = render 'form'
    #quotPan
      .footer_Link
        = link_to 'بازگشت', customers_path
