.list-div
  #welcom_pan  
    %h2.heading2 
      ="مشتری جدید"
      %span 
        = "راشا"        
    .show-list
      = render 'form'
    #quotPan
      .footer_Link
        = link_to 'بازگشت', customers_path
