.list-div
  #welcom_pan   
    %h2 
      %span
        = @page.title
      Company
    %p#notice= notice
    .show-des-en     
      =raw @page.page_html_en
    .show-des-fa
      =raw @page.page_html_fa
      
  #quotPan     
    = link_to 'Edit', edit_page_path(@page), :class => "btn", :name => "btn"
    \|
    = link_to 'back', homedesign_path, :class => "btn", :name => "btn"

