.list-div
  #welcom_pan   
    %h2 
      %span
        = @page.title
      Company
    %p#notice= notice
    .show-des-en     
      =raw @page.page_html_fa
    #quotPan   
      = link_to content_tag("span", "Edit"), edit_page_path(@page), :class => "brochure"            
      = link_to content_tag("span", "Back"), homedesign_path, :class => "brochure"    
  

