/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.language-icon{
  width: 24px;
  height:20px;
}

.item-row{
  position: relative;
}
.row-controls{  
  visibility:hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 60px;
}

.item-row:hover .row-controls {
 visibility:visible;
}
.item-row:hover{
  border: 1px yellow solid;
}

#slider-holder{
  padding: 7px;
  margin-bottom: 10px;
}
.list-div {width:900px; margin-right:10px}
.show-list {margin-top:50px}

.clrear-float {clear:both}
.td {float:right; width:100px; margin:10px}
.show-des-en {width:700px; margin-top:60px; text-align:left; float:left;}
.show-des-fa {width:700px; margin-top:60px; text-align:right; float:right; margin-right:100px}

.container1 {width: 100%; background:url(headBg.png) repeat-x;}

 
