// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-row{
  height: 60px;
  position: relative;
}
.row-controls{  
  visibility:hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 60px;
}

.product-row:hover .row-controls {
 visibility:visible;
}
.product-row:hover{
  border: 1px yellow solid;
}