%div
  %h1 
    =t "products.title" 
.row-fluid
  %ul.thumbnails
    -@products.each do |product|
      %li.span4
        .thumbnail.item-row
          = image_tag product.pictures.first.image(:small) if product.pictures.present?    
          .caption          
            %h3
              =raw product.title
            %p 
              =raw product.description
          .row-controls
            = link_to edit_product_path(product) do
              %i.icon-edit
            = link_to  product, :method => :delete, :data => { :confirm => 'Are you sure?' }  do
              %i.icon-trash
              
        
        
    
    = link_to 'new products', new_product_path, :id => "new_btn"
