.list-div
  #welcom_pan   
    %h2
      = t("welcom_pan")
      %span
        = t("IDM")
      
    .show-list
      = render 'form'
    #quotPan
      .footer_Link
        = link_to 'بازگشت', products_path
