!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => @keywords || "industrial website keywords"}
    %meta{:name => "description", :content => @page_desc || "industrial website!"}
    = yield(:refresh_meta) if content_for?(:refresh_meta)
    %title
      industrial web site | #{@head.fetch(:title, '') if @head}
    =stylesheet_link_tag "application", :media => "all"
    =stylesheet_link_tag "styles", :media => "all"
    =favicon_link_tag 'rails.png', rel:'shortcut icon', type: 'image/png'
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    .total-division
      .main
        = render "shared/menu_bar"      
      #content
        =yield      
      = render 'shared/footer'
      
